:root {
    --main-color-title: #212121;
    --main-color-text: #757575;
    --accent-color: #2196F3;
    --additional-color: rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --main-background-color: #fff;
    --header-bg: #ECECEC;
    --additional-bg: #2F303A;
    --btn-color: #F5F4FA;
    --bg-portfolio: #EEEEEE;

}



body {
    background-color: var(--main-background-color);
    color: var(--main-color-text);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset (100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.header {
    background-color: var(--main-background-color);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-color-title);
}

.accent-logo {
    color: var(--accent-color);
}

/* nav */

.list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: var(--main-color-title);
}

.auth-nav.list .link {
    color: var(--main-color-text);
}

.auth-nav .link:hover {
    color: var(--accent-color);
}

.link.position {
    color: #2196F3;
}

/* hero */

.hero {
    background-color: var(--additional-bg);

}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-background-color);
}

/* button */

.btn {
    cursor: pointer;
    outline: none;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-title);
    background-color: var(--btn-color);
    font-family: inherit;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
}

.btn.primary {
    background-color: var(--accent-color);
    color: var(--main-background-color);
    font-weight: 700;
    letter-spacing: 0.06em;
}






/* main */

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-title);
}

.section-team .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-color-title);
    text-transform: none;
}


.section-team .item {
    background-color: var(--main-background-color)
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-title);
}

.text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}

.section-team .text {
    font-size: 16px;
    font-weight: 400;
}

.section-team {
    background-color: #F5F4FA;
}

.section-team .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-title);
}

.section-team .text {
    text-align: center;
}

/* Footer */

.footer {
    background-color: var(--additional-bg);
    color: var(--header-bg);
}

.footer .logo {
    color: var(--main-background-color)
}

.address .link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}

.list .link:hover,
.list .link:focus {
    color: var(--accent-color);
}

.link.addr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.link.addr:hover { 
    color: var(--accent-color);
}

/* PORTFOLIO */

.title-port {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-title);
}

.category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}